.menu nav ol{
	text-decoration:none;
	position: absolute;

}
.menu nav>ol>li{
	display: inline-block;


}

.menu nav>ol>li:target{
    background: green;
    transition: 2s;
    border: 1px solid orange;
}

.menu nav>ol>li>a{
	text-decoration:none;
	font-size: 20px;
	
}
.menu{
	width: 100%;
}